body, html, #main-content {
    height: 100%;
    background: #E0DFDF;
}

#map {
    height: 100%;
    background: #E0DFDF;
}

#hoverbox {
    position: fixed;
    z-index: 20;
}

.box {
    padding: 1%;
    background: white;
    border: 1px solid #cecece;
}

#gui {
    position: fixed;
    top: 0px;
    transition: right 0.5s ease 0s;
}

#toggleDisplay {
    background: #77A5D4;
    float: right;
    border-left: 1px solid #6B6B6B;
    border-right: 1px solid #6B6B6B;
    cursor: pointer;
    height: 100%;
}

#content {
    float: right;
    background: #E0E0E0;
    height: 100%;
}

#content h2 {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 1%;
    text-align: center;
    border-bottom: 2px solid #77A5D4;
}

#mode-switch-buttons {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 10;
}

#select-mode-buttons {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 10;
}

#path-mode-buttons {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 10;
}

#top-bar {
    width: 100%;
    position: fixed;
    padding: 10px;
    z-index: 10;
}

.full-wide {
    width: 100% !important;
}
/*
.ui.menu .ui.list>.item {
    padding-left: 0.9em;
    padding-right: 0.9em;
}
*/
.sidebar .content {
    padding-left: 0.9em !important;
    padding-right: 0.9em !important;
}

.ui.search .prompt {
    border-radius: 0;
}

.cardContainer{
    position: fixed;
    right: 5px;
    bottom: 55px;
    display: none;
    visibility: hidden;
}

#main-test {
    height: 100%;
    width: 80%;
    margin: auto;
    font-size: 2.0em;
}

#main-test a {
    display: block;
}