body, html {
  height: 100%;
}

#map {
    height: 100%;
    background: #E0DFDF;
}

#hoverbox {
    position: fixed;
    background: white;
    border: 1px solid #6b6b6b;
    padding: 1%;
}

#gui {
    position: fixed;
    top: 0px;
    transition: right 0.5s ease 0s;
}

#toggleDisplay {
    background: #77A5D4;
    float: right;
    border-left: 1px solid #6B6B6B;
    border-right: 1px solid #6B6B6B;
    cursor: pointer;
    height: 100%;
}

#content {
    float: right;
    background: #E0E0E0;
    height: 100%;
}

#content h2 {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 1%;
    text-align: center;
    border-bottom: 2px solid #77A5D4;
}